/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
    font-family: 'Lato', sans-serif;
	font-size: 1rem;
    line-height: 1.5;
    color: #F5FEF9;
	background-color: #4D448B;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #C3F5FE;
}

h1{
	padding-top: 1rem;
	margin-top: 0;
}


/* Links
--------------------------------------------- */
a,
a.visited {
	color: #F5FEF9;
	text-decoration: none;
}

a:hover {
	color: #C3F5FE;
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.site-wrapper {
	max-width: 120rem;
	margin: 0 auto;
}


/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
section{
	padding: 0 3rem;
	margin-bottom: 2rem
}


/* Header
--------------------------------------------- */
.site-header {
	padding: 1rem 1rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;	
}

.site-logo {
	width: 2rem;
	margin: 1rem;
}	

.site-logo img {
	display: block;
}

.site-navigation {
	padding: 0 1rem;
}

.site-navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	display: none;
	position: absolute;
	top: 4.5rem;
	left: 0;
	right: 0;
}

.site-navigation a {
	display: block;
	padding: 1rem;
	font-size: 1.25rem;
}

.site-navigation a:focus,
.site-navigation a:active {
	outline: 1px dotted #C3F5FE;
	padding: 0.25em;
}


.menu-toggle {
	display: block;
	background-color: transparent;
	border: 0;
	padding: 1rem;

}

.menu-toggle svg path {
    fill: #C3F5FE;
}	

.menu-toggle:focus {
	border: 0;
	outline: 1px dotted;
}

.site-navigation.toggled ul {
	display: block;
	background-color: #4D448B;
}




@media (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.site-navigation {
		flex: 1 1 auto;
		padding: 0 1rem;
	}

	.site-navigation ul,
	.site-navigation.toggled ul {
		display: flex;
		justify-content: flex-end;
		position: relative;
		top: 0;
	}

	.site-navigation a {
		line-height: 4.5rem; 
		padding: 0 1rem;
	}

}


@media (min-width: 62rem) {
	
	.site-header{
		padding: 0 8rem;
	}

	section{
		padding: 0 8rem;
	}	

}


/* Main
--------------------------------------------- */

/* Title Section*/

.section-title h1 {
	font-size: 2rem;
	margin-bottom: 0;
	}

.section-title p {
	font-weight: bold;
	margin-top: 0;
}


@media (min-width: 37.5em) {

	.text-title{
		text-align: center;
	}

	.section-title h1 {
		font-size: 3.5rem;
	}
	
	.section-title p {
		font-size: 2rem;
	}

}


@media (min-width: 62rem) {


	.section-title h1 {
		font-size: 3.8rem;
	}	

	
	.section-title p {
		font-size: 1.8rem;
	}


}


/* About Section*/

@media (min-width: 75rem){

	.section-about h2{
	font-size: 2rem;
	}

	.section-about p{
	font-size: 1.125rem;
	line-height: 1.5;

	}
	
}	


/* Projects Section*/

.projects-wrapper h3 {
	padding: 0;
	margin: 0;
}

.project-item {
	max-width: 20rem;
	margin: 3rem auto;
	box-shadow: 0px 0px 3px 2px #EEEEEE;
	border-radius: 1.2rem;
}

.project-item img {
	border-radius: 1.2rem;
}

.card-text {
	padding-bottom: 1rem;
	margin-left: 0.5rem;
}

.tag-expertise{
	font-size: .875rem;
}

@media (min-width: 37.5rem) {

	.projects-wrapper {
		display:flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 2px;
	}

}


@media (min-width: 75rem){

	.section-projects h2{
		font-size: 2rem;
	}

	.section-projects p{
	font-size: 1.125rem;
	
	}
	
	.projects-wrapper {
		gap: 35px;

	}

}	


@media (min-width: 112.5rem){

	.project-item {
		max-width: 25rem;
	}	

}



/* Contact Section*/

.section-contact {
	text-align: center;
}

.section-contact h2 {
	font-size: 1rem;
	color: #F5FEF9;
}

.section-contact ul {
	padding: 0;
	list-style-type: none;
	display: flex; 
	justify-content: center;
}

.section-contact li {
	margin: 1rem;
}

.fa {
	padding: 0;
	margin: 0;
}


@media (min-width: 37.5rem) {

	.section-contact h2 {
		font-size: 1.25rem;
	}
	
}	


@media (min-width: 62rem) {

	.section-contact h2 {
		font-size: 2rem;
	}

}


@media (min-width: 75rem){

	.section-contact p {
		font-size: 1.25rem;
	}

}	


/* Footer
--------------------------------------------- */

.site-footer {
	background-color: #C3F5FE;
	color: #4D448B;
	padding: .875rem;
	font-weight: 600;
	text-align: center;
}
