/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
    font-family:'Roboto', sans-serif;
    line-height: 1.5;
    color: #293333;
	background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}


/* Links
--------------------------------------------- */
a,
a.visited {
	color: #293333;
}

a:hover,
a:focus {
	color:#00FFFF;
}

a:focus {
	outline: 1px dotted #00FFFF;
}

a:active {
	color: #293333;
	background-color: #00FFFF;

}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.site-wrapper {
	max-width: 120rem;
	margin: 0 auto;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/



/* Header
--------------------------------------------- */
.site-header {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}

.site-navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	display: none;
	position: absolute;
	top: 4.5rem;  
	left: 0;
	right: 0;
	z-index: 2;
	background-color: #F3F1F1;

}

.site-navigation.toggled ul {
	display: block;
}

.site-navigation a {
	display: block;
	padding: 1rem;
	font-size: 1.5rem;
	text-decoration: none;
}	

.menu-toggle {
	display: block;
	background-color: transparent;
	border: 0;
	padding: 1rem;
}

.menu-toggle:focus {
	border: 0;
	outline: 1px dotted;
}

@media (min-width: 50em) {

	.menu-toggle {
		display: none;
	}

	.site-navigation {
		flex: 1 1 auto;
		padding: 0 1rem;
	}

	.site-navigation ul,
	.site-navigation.toggled ul {
		display: flex;
		justify-content: flex-end;
		position: relative;
		top: 0;
	}

	.site-navigation a {
		line-height: 4.5rem; 
		padding: 0 1rem;
	}

}


/* Main
--------------------------------------------- */
section{
	padding: 0 3rem;
}

/* Header Page*/

.page-header {
	background-image: url('../images/Laptop-mobile-coffee-AdobeStock_330649225.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px; 
}



/* About Section*/

.section-about{
	background-image: url('../images/Laptop-mobile-coffee-AdobeStock_330649225.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px; 
}



/* About Section*/

/* Projects Section*/


.projects-wrapper h3 {
	padding: 0;
	margin: 0;
}

.project-item {
	max-width: 20rem;
	margin: 2rem auto;
	box-shadow: 0px 0px 3px 2px #eee;
}

.card-text {
	padding-bottom: 1rem;
	margin-left: 0.5rem;
}

.tag-expertise{
	font-size: .875rem
}

@media (min-width: 50em) {

	


}



/* Contact Section*/




/* Footer
--------------------------------------------- */

.site-footer {
	background-color: #16FDFE;
	color: #293333;
	padding: 1rem;
}

.site-footer nav ul {
	list-style: none;
	text-align: center;
}

.site-footer nav li {
	padding: 0.5rem;
} 

@media (min-width 50em) {

	.site-footer ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

}